.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

html,
body {
    min-height: 100%;
    background-color: hsl(var(--b1));
}

body {
    isolation: isolate;
}
