---
const today = new Date();
---

<footer class="footer footer-center p-6 bg-base-200 text-base-content text-sm">
  <div>
    <p>
      &copy; {today.getFullYear()} Vincenzo Di Perna. Built with Astro and deployed on GitHub Pages.
    </p>
  </div>
</footer>