---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-primary-content/20";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
  <li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li>
  <li><a class="py-3 text-base" id="research" href="/research">Research</a></li>
  <li><a class="py-3 text-base" id="tutorials" href="/tutorials">Tutorials</a></li>
  <li><a class="py-3 text-base" id="cv" href="/cv">CV</a></li>
  <li><a class="py-3 text-base" id="contact" href="/contact">Contact me</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem && activeItemElem.classList.add(activeClass);
</script>