---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";

const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>

  <aside class="network-protected px-2 pt-2 h-auto min-h-full w-[19rem] bg-primary text-primary-content flex flex-col">
    <div class="w-full mx-auto mt-6 mb-6 text-center">
      <a href="/" class="block w-fit mx-auto">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[8.5rem]">
            <Image
              class="mask mask-circle"
              format="webp"
              width={300}
              height={300}
              src="/profile.webp"
              alt="Vincenzo Di Perna profile image"
            />
          </div>
        </div>
      </a>

      <div class="mt-4 px-4">
        <h1 class="text-xl font-bold leading-tight">
          Vincenzo Di Perna
        </h1>

        <p class="text-sm opacity-75 mt-1 leading-snug">
          Research Software Engineer<br />
          Distributed Systems, Blockchain &amp; DLT
        </p>
      </div>
    </div>

    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
